.navbar {
  font-size: 1.1rem;
  display: block;
  background-color: #162e44   ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-link {
  color: #ffffff !important;

  
}

.nav-link:hover {
  color: #A1B5B5  !important;
  border-top: #01b3a7;
  /* Cambia el color al pasar el cursor */
}



.dropdown-menu {
  width: 900px;
  /* Ancho de 80 píxeles */
  height: 200px;
  /* Alto de 20 píxeles */
  background-color: white;
  /* Color de fondo azul */
  left: 50%;
  /* Posicionar el menú a la mitad del contenedor */
  transform: translateX(-50%);
  /* Desplazar el menú hacia la izquierda por la mitad de su ancho */
  text-align: center;
  /* Centrar el texto dentro del menú */
}

.dropdown-item {
  color: white;
  /* Color del texto en blanco para contraste */
}

/* Opcional: Ajustar el padding para que el contenido se vea bien */
.dropdown-item {
  padding: 5px 10px;
  /* Ajusta el padding según sea necesario */
}

.custom-div {

  height: 26px;
  justify-content: center;
  align-items: center;
margin-bottom: 10px;
}

.custom-div a {
  margin: 0 20px;
  color: #01b3a7;
  font-size: medium;
  
}

.separator {
  border-top: 1px solid #ced4da;
  margin: 0;
}

.navbar {
  text-align: center;
  /* Centrar el texto en el navbar */
}

.contenedor_principal {
  padding-top: 10px;
  width: 100%;
  display: block;
  /* Hacer que el contenedor no use flex */
  text-align: center;
}

.navbar-nav {
  justify-content: center;
  /* Centrar los elementos dentro del ul */
  display: flex;
  /* Asegurarse de que los elementos estén en línea */
  padding-left: 0;
  /* Para eliminar padding por defecto */
}

.nav-item {
  margin-right: 15px;
  /* Espacio entre los elementos */
}