<footer class="footer text-dark mt-5">
  <div class="container">
      <div class="row">
          <!-- Primera columna: Logo y descripción -->
          <div class="col-md-3 border-end">
              <img src="logo.png" alt="Logo" class="img-fluid mb-2">
              <p>Descripción de la empresa. Ofrecemos productos de alta calidad y un excelente servicio al cliente.</p>
          </div>
          <!-- Segunda columna: Contáctanos -->
          <div class="col-md-3 border-end">
              <h5>Contáctanos</h5>
              <ul class="list-unstyled">
                  <li><i class="fas fa-phone"></i> +1 234 567 890</li>
                  <li><i class="fas fa-envelope"></i> infoempresa.com</li>
                  <li><i class="fas fa-map-marker-alt"></i> Dirección de la empresa</li>
              </ul>
          </div>
          <!-- Tercera columna: Categorías -->
          <div class="col-md-3 border-end">
              <h5>Categorías</h5>
              <ul class="list-unstyled">
                  <li *ngFor="let categoria of categorias"><a href="#">{{categoria.nombre}}</a></li>
              </ul>
          </div>
          <!-- Cuarta columna: Síguenos -->
          <div class="col-md-3">
              <h5>Síguenos</h5>
              <ul class="list-unstyled">
                  <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
