.border-end {
    border-right: 1px solid #dee2e6; /* Color del borde */
}

/* Eliminar borde derecho de la última columna */
.col-md-3:last-child {
    border-right: none;
}

.footer{
    background-color: #6CDDE6;
}

.container{
    padding-top: 3%;
}
.row{
    padding-bottom: 3%;
}
.pie{
    background-color: #11263a;
    color:#dee2e6;
    align-items: cen;
}