.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    justify-items: center;
    height: 50%;
    width: 100%;
    position: absolute;
}

.mapa {
    padding-top: 6%;
}

.contacto {
    background-color: aqua;
    margin-left: 15%;
}

.correo {
    background-color: aqua;
    margin-right: 15%;
}

.form-group {
    margin-left: 10%;
}