.cat-carousel-container {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  width: 100%;
  max-width: 600px; /* Ajusta el ancho máximo según prefieras */
}

.cat-nav-button {
  background-color: #6c2222;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cat-nav-button:hover {
  background-color: #973d3d;
}

.icon {
  width: 24px;
  height: 24px;
  stroke-width: 2;
}

.cat-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.cat-card {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 180px; /* Ancho máximo para cada tarjeta */
}

.text-lg {
  font-size: 1.125rem;
  font-weight: bold;
}

.text-gray-600 {
  color: #4a4a4a;
}
