<div class="row">
  <!-- Columna para las categorías -->
  <div class="col-sm-4">
    <p>Filtrar por Producto:</p>
    <input class="form-control" id="myInput" type="text" placeholder="Buscar">
    <button> Filtrar</button>
    <div *ngFor="let categoria of categorias">
      <button class="btn btn-primary" (click)="seleccionarCategoria(categoria)">
        {{ categoria.nombre }}
      </button>
      <div *ngIf="categoriaSeleccionada?.id === categoria.id">
        <h5>Productos de {{ categoria.nombre }}:</h5>
        <ul>
          <li *ngFor="let producto of obtenerProductosPorCategoria(categoria)">
            <a (click)="seleccionarProducto(producto)">{{ producto.nombre }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Columna para los productos de la categoría seleccionada -->
  <div class="col-sm-8">
    <div *ngFor="let producto of productos">
      <div class="col-sm-8" *ngIf="categoriaSeleccionada?.id === producto.id">
        <h4>Productos de {{ categoriaSeleccionada.nombre }}</h4>
        <ul>
          <li *ngFor="let producto of obtenerProductosPorCategoria(producto)">
            <a (click)="seleccionarProducto(producto)">{{ producto.nombre }}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Columna de detalle del producto -->

    <div class="container">
      <div class="row" *ngIf="productoSeleccionado">
        <div class="col">
          <img [src]="'assets/images/' + productoSeleccionado.imagen" class="card-img-top"
            alt="{{ productoSeleccionado.nombre }}">
        </div>
        <div class="col">
          <h3>{{ productoSeleccionado.nombre }}</h3>
          <p>{{ productoSeleccionado.descripcion }}</p>
          <ul>
            <li *ngFor="let detalle of productoSeleccionado.detalles">{{detalle}}</li>
          </ul>
          <p class="card-text"><strong>Precio:</strong> ${{ productoSeleccionado.precio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>