<div class="row">
  <!-- Columna para las categorías -->
  <div class="col-sm-4">
    <div *ngFor="let categoria of categorias">
      <button class="btn btn-primary" (click)="seleccionarCategoria(categoria)">
        {{ categoria.nombre }}
      </button>
      <div *ngIf="categoriaSeleccionada?.id === categoria.id">
        <h5>Productos de {{ categoria.nombre }}:</h5>
        <ul>
          <li *ngFor="let producto of obtenerProductosPorCategoria(categoria)">
            <a href="#">{{ producto.nombre }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Columna para los productos de la categoría seleccionada -->
  <div class="col-sm-8" *ngIf="categoriaSeleccionada">
    <h4>Productos de {{ categoriaSeleccionada.nombre }}</h4>
    <ul>
      <li *ngFor="let producto of obtenerProductosPorCategoria(categoriaSeleccionada)">
        <a href="#">{{ producto.nombre }}</a>
      </li>
    </ul>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12" *ngIf="categoriaSeleccionada">
    <h4>Productos de {{ categoriaSeleccionada?.nombre }} (segunda vista)</h4>
    <ul>
      <li *ngFor="let producto of obtenerProductosPorCategoria(categoriaSeleccionada)">
        <a href="#">{{ producto.nombre }}</a>
      </li>
    </ul>
  </div>
</div>
