.colorfooter,
.colorheader {
  background-color: #162e44;

}

.colorletra {
  color: aliceblue;
}

.colorfonfo {
  background-color: #F5F5F5;
}

.icon {
  color: #01b3a7;
  width: 24px;
  height: 24px;
}

h2 {
  color: #01b3a7 !important;
}

p {
text-align: justify;
}

input::placeholder {
  color: rgb(136, 17, 17); 
}