.colorfooter, .colorheader {
    background-color: #1B3A3A ;
  
  }

.colorletra{
    color:aliceblue;
}
  
.colorfonfo{
    background-color: #F5F5F5   ;
}

.icon {
    color: white; /* Cambia el color del trazo del icono a blanco */
    width: 24px; /* Tamaño opcional */
    height: 24px; /* Tamaño opcional */
  }